<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Fast Orbit</title>
        <meta name="description" content="">
        <meta name="author" content="Abdallah Soliman">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link type='text/css' rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>

    <body>
        {% include "base/header.html" %}
        {% block content  %}{% endblock %}
        {% include "base/footer.html" %}
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    </body>
</html>
